.App {
    text-align: center;
    display: flex;
    padding: 50px;
}

.navbar {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #a1a1a1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.activeLink {
    padding: 3px;
    text-decoration: none;
    background-color: #33363c;
    border-radius: 5px;
    color: #debc02;
}

.content {
    width: 300px;
    margin-left: 20px;
    font-size: 52px;
    font-weight: bold;
    border: 3px solid #a1a1a1;
    border-radius: 5px;
}
